{{ define "Weekset" }}
  {{ template "Header" }}
    {{ template "Menu" }} 
   <h2>Week Set:</h2>  
    <form method="POST" action="schedules">
      <p> Submit Week </p>
      <input type="submit" value="Week" />
    </form>
  {{ template "Footer" }}
{{ end }}